# This is my npm config
@kundan100:registry=https://registry.npmjs.org/

# auth token from env (i have kept (not committed) .env file in root of project with NPM_TOKEN=token_value)
//registry.npmjs.org/:_authToken=${NPM_TOKEN}
